<?xml version="1.0" encoding="utf-8" ?>
<shine>
  <module name="SignatureAlbum" cname="签名相册" order="2" icon="pack://application:,,,/ShinePhoto.Icons;Component/flat/128/easel.png" />
  <module name="ShineDisplay" cname="炫影展示" order="1" icon="pack://application:,,,/ShinePhoto.Icons;Component/flat/128/polaroids.png" />
  <module name="Capture" cname="即拍即得" order="3" icon="pack://application:,,,/ShinePhoto.Icons;Component/flat/128/camera.png" />
</shine>